label {
    font-family: Mont;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    margin-right: 5px;
    }

select {
    width: 160px;
    height: 30px;
    border: none;
    font-family: Mont;
    font-size: 20px;
    font-weight: 400;
    line-height: 19px;
    text-align: right;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
    label {
        font-family: Mont;
        font-size: 20px;
        font-weight: 400;
        line-height: 19px;
        margin-right: 5px;
        }
}