.link_nav_catalog {
    font-family: Mont;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 24px auto;
    max-width: 1400px;

    .catalog_link {
      font-weight: 800;
    }

    .general_link:hover {
      background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -text-fill-color: transparent;
    }
  }

.page {
    &__title {
        margin: 0 auto 24px auto;
        max-width: 1400px;
        text-align: left;
        font-family: Mont;
        font-size: 50px;
        font-weight: 400;
        line-height: 53px;
    }
}

.form {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 45px auto;
    max-width: 1250px;
}

hr.line {
    width: 80%;
    border: 1px solid #514c4c80;
    margin: 40px auto;
    height: 0px;
    opacity: 10%;
}

.cards-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 17px 17px;
    height: min-content;
    max-width: 1100px;
    &__wrapper {
       display: flex;
       justify-content: center;
       margin: 0 auto;
    }
}

.sidebar {
    width: 260px;
    padding: 0 30px;
} 

.MuiPagination-root {
    display: flex;
    justify-content: center;
    margin: 24px 0;
    width: 100%;
    button {
        height: 48px;
        width: 38px;
        border: 1px solid #B3B9B8;
        color: #B3B9B8;
        font-family: Mont;
        font-size: 18px;
        font-weight: 800;
    }
    .Mui-selected {
        color: white;
        background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
    }
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
    .link_nav_catalog {
        max-width: 630px;
    }
    .page {
        &__title {
            max-width: 630px;
    }
    }
    .form {
        max-width: 630px;
    }
    .cards-list {
        max-width: 690px;
    }
    .sidebar {
        display: none;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .sidebar {
        display: none;
    }
    .link_nav_catalog {
        max-width: 300px;
    }
    .page {
        &__title {
            max-width: 300px;
    }
    }
    .form {
        max-width: 300px;
    }
    .cards-list {
        max-width: 300px;
    }
}