.link_nav_catalog {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    margin: 24px 0 24px 260px;

    .catalog_link {
      font-weight: 800;
    }

    .general_link:hover {
      background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -text-fill-color: transparent;
    }
  }

.page {
    &__title {
        width: 100%;
        margin: 0 0 24px 260px;
        text-align: left;
        font-family: Mont;
        font-size: 50px;
        font-weight: 400;
        line-height: 53px;
    }
}

.form {
    display: flex;
    background-color: #B3B9B8;
    width: 100%;
    padding: 15px 160px;
}

hr.line {
    width: calc(100% - 500px);
    border: 1px solid #514c4c;
    margin: 30px 0 30px 150px;
    height: 0px;
    opacity: 10%;
}

.cards-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    margin: 0 60px;
    &__wrapper {
       display: flex;
    }
}

.sidebar {
    min-width: 260px;
    background-color: #e4a16f;
    padding: 0 30px;
} 

.MuiPagination-root {
    display: flex;
    justify-content: center;
    margin: 24px 0;
    width: 100%;
    button {
        height: 48px;
        width: 38px;
        border: 1px solid #B3B9B8;
        color: #B3B9B8;
        font-family: Mont;
        font-size: 18px;
        font-weight: 800;
    }
    .Mui-selected {
        color: white;
        background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
    }
}
