.footer {
  margin-top: 50px;
  background: rgb(135, 111, 0);
  background: linear-gradient(
    90deg,
    rgba(135, 111, 0, 1) 0%,
    rgba(0, 68, 9, 1) 38%,
    rgba(0, 47, 6, 1) 89%
  );
  color: white;
  display: flex;
  justify-content: center;
  .footer-wrapper {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 83px 0 47px 0;
    .privacy {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      img {
        width: 194px;
      }
      p {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(173, 173, 173, 1);
        margin: 10px 0 20px 0;
      }
      a {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        border-bottom: 1px solid white;
      }
    }
    .navbar {
      width: 70%;
      display: flex;
      justify-content: space-between;
      .nav {
        margin-left: 200px;
        .nav__title {
          color: white;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 700;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
        }
        li {
          padding-top: 15px;
          color: white;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          a:hover {
            text-decoration: underline;
          }
        }
      }
      .contacts {
        .contacts__title {
          color: white;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 700;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: left;
        }
        li {
          padding-top: 15px;
          color: white;
          font-family: Montserrat;
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;

          .contacts-list__item-img {
            width: 20px;
            margin-right: 10px;
          }
          .facebook-img {
            width: 11px;
          }
        }
      }
      .ontop-wrapper {
        margin-top: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        button {
          display: flex;
          justify-content: flex-start;
          height: 49px;
          width: 140px;
          border-radius: 0px;
          background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
          font-family: Mont;
          font-size: 18px;
          font-weight: 800;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: center;
          transform: rotate(90deg);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
  .footer {
    .footer-wrapper {
      width: 640px;
      flex-direction: column;
      align-items: flex-start;
      .navbar {
        width: 100%;
        padding-top: 50px;
        .nav {
          margin-left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    .footer-wrapper {
      padding-top: 30px;
      width: 290px;
      flex-direction: column;
      align-items: flex-start;
      .navbar {
        display: grid;
        grid-template-columns: repeat(2, 140px);
        grid-row-gap: 0px;
        padding-top: 50px;
        .nav {
          margin-left: 0;
        }
        .ontop-wrapper {
          margin-top: 70px;
          position: relative;
          button {
            left: 193px;
          }
        }
      }
    }
  }
}
