@import "fonts";
@import "reset";
@import "variables";
@import "mixin";
@import "basket";

@import "order";
@import "form";
@import "scrollOrder";

body {
  background-color: rgb(229, 229, 229);
}

.main {
  max-width: 1400px;
  margin-inline: auto;
}
