.card {
    padding-top: 32px;

    &__wrapper {
        display: flex;
        padding-top: 27px;
    }

    &__image {
        width: 565px;
        height: 622px;
        background-color: grey;
        margin-right: 30px;
    }

    &__description {
        width: 684px;

        &_available {
            display: flex;
            justify-content: space-between;
            margin-bottom: 37px;
        }
    }

    &__content {
        margin-bottom: 44px;
    }
}


.carusel {
    width: 89px;
    height: 622px;
    background-color: antiquewhite;
    margin-right: 30px;
}

.icon_vector {
    width: 13px;
    height: 11px;
}

.card_description-available-item{
    color: rgba(75, 113, 89, 1);
}

h1 {
    margin-bottom: 43px;
}

h3 {
    margin-bottom: 15px;
   

}

.price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;

    &__amount{
        display: flex;
    }

    &__now {
        margin-right: 32px;
    }
}

.button {    
    &_wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 37px;
        border-bottom: 1px solid rgba(230, 232, 231, 1);
    }

    &_count {
        display: flex;
        border: 1px solid rgba(230, 232, 231, 1);  
    
        button {
            background-color: white;
            width: 50px;
            height: 50px;
        }
        
        &_amount {
            border-left: 1px solid rgba(230, 232, 231, 1);
            border-right: 1px solid rgba(230, 232, 231, 1);
            width: 104px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &_buy {
        width: 446px;
        height: 50px;
        background: linear-gradient(92.18deg, #5E3928 20.13%, #E4A16F 92.93%);
        color: #FFFFFF;
    }
}

