.header {
  color: white;
  background: green;
  display: flex;
  justify-content: center;
}

.header-wrapper {
  width: 1400px;
  display: flex;
}

.logo-element {
  width: 194px;
  padding: 20px 0;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  .nav-list {
    display: flex;
    li {
      padding: 62px 0 0 52px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 16px;
    }
  }

  .nav-other {
    width: 190px;
    margin-bottom: 35px;
    display: flex;
    justify-content: space-between;
    li {
      width: 50px;
      background: white;
      display: flex;
      justify-content: center;
      img {
        margin-top: 40px;
        width: 30px;
      }
      div {
        margin-top: 30px;
        width: 30px;
        img {
          margin: 0;
        }
      }
    }
  }
}
