.search {
    &__form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 208px;
        border-bottom: 1px solid #03141215;
        margin: 0;
        &:hover{
            border-bottom: 1px solid #031412;
        }
    }
    &__input {
        width: 180px;
        font-family: Mont;
        font-size: 16px;
        font-weight: 400;
        color: #031412;
    }
    &__icon {
        height: 15px;
        width: 15px;
    }
}

