.page {
    &__title {
        width: 100%;
        padding: 30px 0 30px 260px;
        text-align: left;
        font-family: Mont;
        font-size: 50px;
        font-weight: 400;
        line-height: 53px;
    }
}

.form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 260px;
}

hr.line {
    width: calc(100% - 500px);
    border: 1px solid #514c4c;
    margin: 30px 0 30px 150px;
    height: 0px;
    opacity: 10%;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    margin: 0 60px;
    &__wrapper {
       display: flex;
    }
}

.sidebar {
    min-width: 260px;
    background-color: #e4a16f;
    padding: 0 30px;
} 

.MuiPagination-root {
    margin: 30px 0;
    button {
        height: 48px;
        width: 38px;
        border: 1px solid #B3B9B8;
        color: #B3B9B8;
        font-family: Mont;
        font-size: 18px;
        font-weight: 800;
    }
    .Mui-selected {
        color: white;
        background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
    }
}
