
  .orderWrapper {
    max-width: 1400px;
    margin: 0 auto;


    .head {
      display: flex;
      margin-top: 50px;
      margin-bottom: 30px;

      .order_tittle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        text-align: center;
        margin-left: 85px;
        color: #031412;
      }

      .btn_back {
        color: #A1A1A1;
        border: 1px solid #A1A1A1;
        background: white;
        padding: 17px 79px 16px 80px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 96.4%;
      }

    }

  }



@media (max-width: 1399px) {

    .orderWrapper {
      max-width: 1399px;
      margin: 0 50px;

      .head {
        display: flex;
        flex-direction: column;
        align-items: center;
         justify-content: center;

        .order_tittle{
          font-size: 40px;
          margin: 0 auto;
           padding-top: 35px;
        }

        .btn_back {
          align-items: center;

        }
      }

    }


}

@media (max-width: 767px) {


    .orderWrapper {

      //margin: 0 15px;

      .head {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .order_tittle{
          font-size: 20px;
          align-items: center;
          margin: 0 auto;
          padding-top: 28px;
        }

        .btn_back {
          align-items: center;

        }

      }
    }


}