.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  h1 {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: center;
  }
  .catalog__button {
    width: 327px;
    margin-top: 42px;
    padding: 0;
    background: linear-gradient(92.18deg, #5e3928 20.13%, #e4a16f 92.93%);
    border-radius: 0px;
    a {
      padding: 16px 0;
      width: 100%;
      color: rgb(255, 255, 255);
      font-family: Mont;
      font-size: 18px;
      font-weight: 400;
      line-height: 17px;
      letter-spacing: 0em;
      text-align: center;
    }
  }
  .carousel-container {
    height: 600px;
    width: 90%;

    .react-multiple-carousel__arrow {
      border-radius: 0px;
      background: white;
      border: 1px solid black;
      transition: 200ms ease-in-out;
      &::before {
        color: black;
        width: 50px;
      }
      &:hover {
        background: linear-gradient(92.18deg, #e4a16f 50.13%, #5e3928 92.93%);
      }
    }
    .react-multi-carousel-track {
      .carousel-item {
        display: flex;
        justify-content: center;
        .card {
          align-items: center;
          margin: 0;
          .card__description {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
              margin: 0;
              font-family: Montserrat;
              font-size: 20px;
              font-weight: 400;
              line-height: 19px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
        }
      }
    }
    .react-multi-carousel-dot-list {
      li {
        button {
          border-radius: 0px;
          border: none;
          background: rgb(0, 0, 0);
        }
      }
      .react-multi-carousel-dot--active {
        button {
          background: linear-gradient(
            65.81deg,
            #5e3928 -24.09%,
            #e4a16f 104.02%
          );
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1399px) {
  .carousel {
    .carousel-container {
      height: 500px;
    }
    .catalog__button {
      width: 327px;
    }
    .react-multi-carousel-track {
      .carousel-item {
        width: 290px;
        display: flex;
        .card {
          width: 324px;
          .card__image {
            width: 324px;
            height: 389.68px;
          }
          .card__description {
            h1 {
              width: 168px;
            }
            p {
              width: 128px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .carousel {
    .carousel-container {
      height: 470px;
    }
    .catalog__button {
      width: 290px;
    }
    .react-multi-carousel-track {
      .carousel-item {
        margin: 0;
        .card {
          width: 290px;
          .card__image {
            width: 290px;
            height: 360px;
          }
          .card__description {
            width: 290px;
            h1 {
              width: 168px;
            }
            p {
              width: 128px;
            }
          }
        }
      }
    }
  }
}
